body {
    background-color: darkcyan;
}

.A {
    color: azure
}

h1 {
    color: brown;
    border: 1px solid red;
}

#B {

    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}